*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1em;
  line-height: 1.5;
  font-family: "Times New Roman";
}
/* --------------- */
main{
  margin-bottom: 20px;
}
main::after{
  content:"";
  display: table;
  clear: both;
}

.clearfix{
  content:"";
  display: table;
  clear: both;
}

/* link properties */
a:link, a:visited{
 text-decoration: none;
 color: #fff;
}

a.menulink{
  color: #FFF;
}
/* ----------*7

/* hover */
a.menulink:hover{
  color: #f8b71c;
  cursor: pointer;
}

/* header properties */
header{
  min-height: 500px;
  width: 100vw;
  padding: 1% 18%;
  background-image: url("img/sfondohead.jpg");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
header::after{
  content:"";
  display: table;
  clear: both;
}

/* ------------- */

/* Menu nav dell'header */
img.logoimg{
  width: 12%;
  height: auto;
  vertical-align: bottom;
  margin: 0 4% 0 2%;
}
.headmenu, .headmenu li{
  display: inline-block;
  vertical-align: sub;
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 6px;
  letter-spacing: 0;
}

.navdescript{
  max-width: 40%;
  padding: 10% 0;
}
#title{
  color: #FFF;
  font-size: 45px;
}
.btngreen{
  background-color: #7fb802;
  padding: 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.btngreen2{
  background-color: #7fb802;
  padding: 12px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.sxmenu{
  float: left;
}

.dxmenu{
  float: right;
}
.logmenu, .logmenu li{
  display: inline-block;
  padding: 5px 8px;
}
#tutor{
  color: rgba(255,255,255,.5);
  opacity: 1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
#login{
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #4e8cb6;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px 25px;
  opacity: .9;
}

/* contenitore di centratura sezioni */
.centratura{
  width: 70vw;
  margin: 0 auto;
}
/* ------------- */

.clearfix{
  content:"";
  display: table;
  clear: both;
}

/* Prima sezione */
h5.psec1{
  color: #373a3c;
  font-size: 24px;
  padding-bottom: 5px;

}
p.psec1{
  color: #999;
  font-size: 20px;
}
.sec1container{
  width: 100%;
  padding: 80px 0;
}

.imgprofile{
  margin: 5px 0 0;
}
.imgpc{
  margin: 22px 0 0;
}
.imgdoc{
  margin: 12px 0 0;
}

/* .testoprova2{
padding-top: 40px;

} */

.testosec1{
  text-align: center;
}

.contenitoreliste{
  width: 100%;
  margin-top: 5%;
}

.sec1list{
  width: 30%;
  float: left;
  text-align: center;
  list-style-type: none;
}
.sec1list:nth-child(2){
  margin: 0 5%;
}


.sec1title{
  color: #7fb802;
  font-size: 26px;
  margin: 40px 0 8px;
  line-height: 1em;
}

.titlemove{
  margin-bottom: 63px;
}

.testoprova{
  text-align: center;
  color: #b2b2b2;
  font-size: 20px;
  line-height: 25px;
}
hr.shorthr{
  opacity: .3;
  width: 32px;
  border-top: 2px solid;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

hr{
  opacity: .5;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* seconda sezione */
.steppingsection{
  height: 500px;
}
.hikerimg{
  float: left;
  margin: 0 20% 0 10%;
}
.hikertext{
  width: 30%;
  padding-top: 5%;
  float: left;
}
.whatwedo{
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}
p.whatwedodescript{
  color: #999;
  font-size: 20px;
  margin-top: 15px;
  line-height: 21px;
}
#createyourplan{
  float: left;
  width: 100%;
  padding-top: 40px;
  margin-left: 10%;
}
.sxcreate{
  float: left;
}
.selector{
  float: left;
  padding-left: 35%;
}
.iam{
  color: #b2b2b2;
  font-size: 30px;
  margin-right: 20px;
}
.selector a{
  margin-left: 10px;
}
/* terza sezione */
#videosession{
  width: 100%;
  height: 500px;
  background-color: #0d325a;
}
.videosessiontext{
  width: 30%;
  float: left;
  padding-top: 8%;
  margin-left: 10%;
}
.onetoonetitle{
  color: #f8b71c;
  font-size: 30px;
}
.videosessiontext span{
  color: #fff;
}
.videosessiontext p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: .5;
}
.videosessiontext a{
  color: #98c8f8;
  text-decoration: underline;
}
.videosessionimg img{
  width: 650px;
  height: auto;
}
.videosessionimg{
  float: left;
  margin-left: 5%;
}
/* quarta parte */
#focussection{
  height: 500px;
  width: 100%;
}
.focusimg{
  float:left;
  padding-top: 20px;
  margin-left: 10%;
}
.focustext{
  width: 40%;
  float: left;
  padding-left: 5%;
  padding-top: 10%;
}
.s247{
  text-align: center;
}


.content247 h4{
  font-weight: bold;
}
.content247 h6{
  opacity: .6;
  font-weight: bold;
}
.content247 a{
  color: #98c8f8;
  text-decoration: underline;
}
.content247 span{
  color: #7FB802;
}
.programmes{
  width: 100%;
  background-image: url("img/sfondoprogrammes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8% 0;
  margin-top: 5%;
}

.englishmust{
  max-width: 30%;
}
.englishmust h4{
  color: #fff;
  font-size: 28px;
}
.englishmust p{
  color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    opacity: .5;
    padding-right: 4vw;
}

/* Last section create your plan */
.yourplan{
  width: 100%;
  padding: 60px 0;
  text-align: center;
}

 .containplainbox{
   width: 100%;
   margin-left: 10%;
}

.planbox{
  width: 33%;
  float: left;
  text-align: left;
  padding: 0 5%;
  margin: 5% 0;
}

.planbox h6{
  font-size: 18px;
  margin-top: 30px;
  opacity: .7;
}
.planbox p{
  font-size: 17px;
  font-weight: 100;
  min-height: 60px;
  line-height: 18px;
  margin-top: 15px;
  color: #999;
}

a.bluelink{
  color: #98c8f8!important;
  text-decoration: underline!important;
}

a.orangelink{
color: #f8b71c!important;
text-decoration: underline!important;
}

a.greenlink{
  color: #7fb802!important;
  text-decoration: underline!important;
}

.bluehr{
  border-top: 5px solid;
  color: #98c8f8;
  margin: 20px 0 10px;
}
.orangehr{
  border-top: 5px solid;
  color: #f8b71c;
  margin: 10px 0;
}
.greenhr{
  border-top: 5px solid;
  color: #7fb802;
  margin: 10px 0;
}
