*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1em;
  line-height: 1.5;
}
/* --------------- */
main{
  margin-bottom: 20px;
}
main::after{
  content:"";
  display: table;
  clear: both;
}

/* link properties */
a:link, a:visited{
 text-decoration: none;
 color: #fff;
}

a.menulink{
  color: #FFF;
}
/* ----------*7

/* hover */
a.menulink:hover{
  color: #f8b71c;
  cursor: pointer;
}

/* header properties */
header{
  height: 500px;
  width: 100vw;
  padding: 1% 18%;
  background-image: url("img/sfondohead.jpg");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
header::after{
  content:"";
  display: table;
  clear: both;
}

/* ------------- */

/* Menu nav dell'header */
img.logoimg{
  width: 12%;
  height: auto;
  vertical-align: bottom;
  margin: 0 4% 0 2%;
}
.headmenu, .headmenu li{
  display: inline-block;
  vertical-align: sub;
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 6px;
  letter-spacing: 0;
}

.navdescript{
  max-width: 40%;
  padding: 10% 0;
}
#title{
  color: #FFF;
  font-size: 45px;
}
.btngreen{
  background-color: #7fb802;
  padding: 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.btngreen2{
  background-color: #7fb802;
  padding: 12px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.sxmenu{
  float: left;
}

.dxmenu{
  float: right;
}
.logmenu, .logmenu li{
  display: inline-block;
  padding: 5px 8px;
}
#tutor{
  color: rgba(255,255,255,.5);
  opacity: 1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
#login{
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #4e8cb6;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px 25px;
  opacity: .9;
}

/* contenitore di centratura sezioni */
.centratura{
  width: 70vw;
  margin: 0 auto;
}
/* ------------- */

/* Prima sezione */
h5.psec1{
  color: #373a3c;
  font-size: 24px;
  padding-bottom: 5px;

}
p.psec1{
  color: #999;
  font-size: 20px;
}
.sec1container{
  margin-top: 80px; 0;
  text-align: center;
}
.sec1list, .sec1list li{
  display: inline-block;
  padding: 0 25px;
}
.sec1list{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.imgsec1{
  text-align: center;
}
.sec1text{
  width: 400px;
  text-align: center;
}
.sec1title{
  color: #7fb802;
  font-size: 26px;
  padding: 30px 0 10px 0;
}
.sec1text p{
  color: #b2b2b2;
  font-size: 20px;
  line-height: 25px;
}
hr.shorthr{
  opacity: .3;
  width: 32px;
  border-top: 2px solid;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
hr{
  opacity: .5;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* seconda sezione */
.steppingsection{
  height: 500px;
}
.hikerimg{
  float: left;
  margin: 0 20% 0 10%;
}
.hikertext{
  width: 30%;
  padding-top: 5%;
  float: left;
}
.whatwedo{
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}
p.whatwedodescript{
  color: #999;
  font-size: 20px;
  margin-top: 15px;
  line-height: 21px;
}
#createyourplan{
  float: left;
  width: 100%;
  padding-top: 40px;
  margin-left: 10%;
}
.sxcreate{
  float: left;
}
.selector{
  float: left;
  padding-left: 35%;
}
.iam{
  color: #b2b2b2;
  font-size: 30px;
  margin-right: 20px;
}
.selector a{
  margin-left: 10px;
}
/* terza sezione */
#videosession{
  width: 100%;
  height: 500px;
  background-color: #0d325a;
}
.videosessiontext{
  width: 30%;
  float: left;
  padding-top: 8%;
  margin-left: 10%;
}
.onetoonetitle{
  color: #f8b71c;
  font-size: 30px;
}
.videosessiontext span{
  color: #fff;
}
.videosessiontext p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: .5;
}
.videosessiontext a{
  color: #98c8f8;
  text-decoration: underline;
}
.videosessionimg img{
  width: 650px;
  height: auto;
}
.videosessionimg{
  float: left;
  margin-left: 5%;

}
